<h1>Weather app</h1>


<%= form_for :location, url: location_path, method: :post  do  |f| %>
<%= f.text_field :city_name %>
<%= f.submit class:"btn btn-primary" %>


<% end  %>





<% if @cities.blank? == false  %>

  <% @cities.each do |city|  %>
<div class="card-product">
  <img src=" <%= city.photo %>" >
  <div class="card-product-infos">
    <h2><%= city.name.capitalize  %></h2>
  </div>
  <img src="https://openweathermap.org/img/w/<%= city.payload['list'][0]['weather'][0]['icon']%>.png">
  <h2> <%= city.payload['list'][0]['main']['temp'].to_i %>°C</h2>
</div>
<% end %>
<%end  %>
